.overflow-hidden.project-column.d-flex.v-align-top.flex-auto.flex-column.border.mr-3.p-2.mb-4
  h4 = column.name
  .overflow-auto.m-1.ws-normal.flex-auto.position-relative.pb-2
    = render column.cards