default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  encoding: unicode
  database: paw_statisctics_development

test:
  <<: *default
  encoding: unicode
  database: paw_statisctics_test
