.cards-columns {
  overflow-x: auto;
  height: 95%;
}

@media (min-width: 544px) {
  .user-column {
    border-width: 1px !important;
    border-radius: 6px !important;
  }
}
@media (min-width: 576px) {
  .user-column {
    min-width: 355px !important;
    max-width: 355px !important;
  }
}

.users-container {
  overflow-y: hidden;
  height: 100vh;
}
.user-column {
  min-width: 100%;
  background-color: #eff1f3;
}

-webkit-scrollbar {
  display: none;
}
