.cards-columns {
  overflow-x: auto;
  height: 95%;
}

@media (min-width: 544px) {
  .user-column {
    border-width: 1px !important;
    border-radius: 6px !important;
  }
}
@media (min-width: 576px) {
  .user-column {
    min-width: 355px !important;
    max-width: 355px !important;
  }
}

.users-container {
  overflow-y: hidden;
  height: 100vh;
}
.user-column {
  min-width: 100%;
  background-color: #eff1f3;
}

-webkit-scrollbar {
  display: none;
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.simple_form {
  abbr[title] {
    display: none;
    text-decoration: none;
  }
  label.required::after {
    content: '*'
  }
  ::placeholder {
    opacity: 0.6;
    font-size: 14px;
  }
}

.sign-up-btn {
  margin-left: 10px;
}

#error_explanation {
  ul {
    margin-bottom: 0;
  }
}

.user_remember_me {
  label {
    padding-left: 10px;
  }
}

.sign-in-with-github {
  padding-top: 15px;
}
